:root {
    --primary: #ff4d4d;
    --secondary: #ffffff;
    --dark: #333333;
    --light-red: #ffffffa1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: var(--secondary);
    color: var(--dark);
}

/* html,
body {
    height: 100%;
    margin: 0;
}
 */

/* 内容容器
.content {
    height: 200px;
    overflow-y: scroll;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 400px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

/* WebKit 浏览器滚动条样式 */
/* 设置滚动条样式 */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 100%, 70%);
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #f37171;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #f37171;
    -webkit-border-radius: 6px;

}

/* 设置滚动条在hover状态下的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #ea2828;
}